
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    background: linear-gradient(to bottom, purple, black); /* Smooth gradient */
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


header {
    background: linear-gradient(to bottom, rgb(28, 4, 28), rgb(77, 72, 77)); /* Gradient */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 1em;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease; 
}

header nav a:hover {
    color: lightcoral; 
    text-decoration: underline;
}

main {
    padding: 2em;
    text-align: center;
    font-size: 1.2rem; 
    line-height: 1.6;
    flex: 1;
}


footer {
    text-align: center;
    padding: 1em;
    background: linear-gradient(to top, rgb(77, 72, 77), rgb(28, 4, 28)); /* Reverse gradient for footer */
    color: white;
    font-size: 0.9rem;
}


@media (max-width: 600px) {
    main {
        padding: 1em;
        font-size: 1rem; 
    }

    header nav a {
        margin: 0 10px;
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
